name: NPM Release

on:
  workflow_dispatch:
  repository_dispatch:
    types: [platform-release]

permissions:
  contents: read
  id-token: write

jobs:
  find-latest-tag:
    name: Find Latest Tag
    runs-on: ubuntu-22.04
    outputs:
      tag: ${{ steps.get-tag.outputs.tag }}
    steps:
      - name: Find latest tag
        id: get-tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: gnpaone/rust-just
          releases-only: true

  publish-binaries:
    name: Publish binaries
    needs: find-latest-tag
    runs-on: ${{ matrix.OS }}
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - NAME: linux-x64-musl
            OS: ubuntu-22.04
            TARGET: x86_64-unknown-linux-musl
          - NAME: linux-arm64-musl
            OS: ubuntu-22.04
            TARGET: aarch64-unknown-linux-musl
          - NAME: linux-arm-musleabihf
            OS: ubuntu-22.04
            TARGET: arm-unknown-linux-musleabihf
          - NAME: win32-x64-msvc
            OS: windows-2022
            TARGET: x86_64-pc-windows-msvc
          - NAME: win32-arm64-msvc
            OS: windows-2022
            TARGET: aarch64-pc-windows-msvc
          - NAME: darwin-x64
            OS: macos-14
            TARGET: x86_64-apple-darwin
          - NAME: darwin-arm64
            OS: macos-14
            TARGET: aarch64-apple-darwin
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Download release artifact
        uses: robinraju/release-downloader@v1.12
        with:
          tag: ${{ needs.find-latest-tag.outputs.tag }}
          fileName: just-${{ needs.find-latest-tag.outputs.tag }}-${{ matrix.TARGET }}.*
          out-file-path: './release'
      - name: Extract and Copy Binary
        shell: bash
        run: |
          mkdir -p ./target/${{ matrix.TARGET }}/release
          if [[ ${{ matrix.OS }} == 'windows-2022' ]]; then
            unzip ./release/just-${{ needs.find-latest-tag.outputs.tag }}-${{ matrix.TARGET }}.zip -d ./target/${{ matrix.TARGET }}/release/
          else
            tar -xzf ./release/just-${{ needs.find-latest-tag.outputs.tag }}-${{ matrix.TARGET }}.tar.gz -C ./target/${{ matrix.TARGET }}/release/
          fi
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - name: Publish to NPM
        shell: bash
        run: |
          cd npm
          bin="just"
          node_os=$(echo "${{ matrix.NAME }}" | cut -d '-' -f1)
          export node_os
          node_arch=$(echo "${{ matrix.NAME }}" | cut -d '-' -f2)
          export node_arch
          export version="${{ needs.find-latest-tag.outputs.tag }}"
          if [ "${{ matrix.OS }}" = "windows-2022" ]; then
            export node_pkg="rust-${bin}-windows-${node_arch}"
          else
            export node_pkg="rust-${bin}-${node_os}-${node_arch}"
          fi
          mkdir -p "${node_pkg}/bin"
          envsubst < package.json.tmpl > "${node_pkg}/package.json"
          if [ "${{ matrix.OS }}" = "windows-2022" ]; then
            bin="${bin}.exe"
          fi
          cp "../target/${{ matrix.TARGET }}/release/${bin}" "${node_pkg}/bin"
          cp ./README.md "${node_pkg}"
          cd "${node_pkg}"
          npm publish --access public

  publish-base:
    name: Publish base package
    needs: [find-latest-tag, publish-binaries]
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - name: Wait for npm repository to index the binaries
        uses: AliSajid/random-wait-action@v2.11.1
        with:
          minimum: 30
          maximum: 60
      - name: Update version & lockfile
        shell: bash
        working-directory: npm/rust-just
        run: |
          LATEST_VERSION=${{ needs.find-latest-tag.outputs.tag }}
          sed -i "s/\"version\": \"[^\"]*\"/\"version\": \"$LATEST_VERSION\"/; s/\"\(rust-just-[^\"]*\)\": \"[^\"]*\"/\"\1\": \"$LATEST_VERSION\"/g" package.json
          yarn install
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
      - name: Create PR
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: bump npm package version"
          committer: gnpaone <78990165+gnpaone@users.noreply.github.com>
          author: gnpaone <78990165+gnpaone@users.noreply.github.com>
          branch: npm-update
          base: master
          add-paths: |
            npm/rust-just/package.json
            npm/rust-just/yarn.lock
          delete-branch: true
          title: Bump npm package version
          labels: ":mag_right: bump"
      - name: Enable PR automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
      - name: Delete PRs head branch
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          numbers: ${{ steps.cpr.outputs.pull-request-number }}
      - name: Ensure updated files are present
        run: |
          git fetch --all
          git checkout master
          git pull origin master
      - name: Publish the package
        shell: bash
        working-directory: npm/rust-just
        run: |
          yarn build
          cp ../README.md .
          cp ../../CHANGELOG.md .
          yarn npm publish --access public
