{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "🤖 Just a command runner",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/gnpaone/rust-just.git"
  },
  "keywords": [
    "just",
    "rust-just",
    "cli",
    "command line",
    "utilities",
    "rust"
  ],
  "author": "Naveen Prashanth <gnpaone@gmail.com>",
  "license": "CC0-1.0",
  "bugs": {
    "url": "https://github.com/casey/just/issues"
  },
  "homepage": "https://github.com/casey/just#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ],
  "publishConfig": {
    "access": "public"
  }
}
